  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<% header @post.title %>
<h4>By: <%= @user.email %> on <%= local_time(@post.created_at) %> </h4>
<br>

<%= @post.content %>
<br>

<br>
<br>

<%= form_for(@comment, url: post_comments_path(@post)) do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label 'Say something nice: '%><br>
  <%= f.text_area :content %><br>
  <%= f.submit %>
<% end %>

<br>
<strong>
or maybe just...
<br>
</strong>
<br>
<%= button_to "View Comments", post_comments_path(@post), :method => :get %>
<br>